        body {
            background: #626E60;
            color: rgb(45, 45, 45);
            padding: 10px;
            font-family: tempus sans itc;
			
        }
		
        
        header {
            font-size: 1.5em;
            font-weight: bold;
        }
        
        [id=all-contents] {
            max-width: 800px;
            margin: auto;
        }
        /* navigation menu */
        
        nav {
            background: #945D60;
            margin: 0 auto;
            margin-bottom: 20px;
            height: 100%;
            padding: 10px;
            border: 2px solid;
			
            
        }
        
        nav header {
            display: flex;
            align-items: center;
            color: rgb(0, 0, 0);
            flex: 1;
			
        }
        
        nav ul {
            list-style-image: none;
        }
        
        nav li {
            display: inline-block;
            padding: 0 10px;
        }
        
        nav a {
            text-decoration: none;
            color: rgb(45, 45, 45);
			font-size: 150%;
        }
        /* main container area beneath menu */
        
        main {
            background: #945D60;
            display: flex;
            border: 2px solid;
            
        }
        
        [class=content] {
            flex: 1;
            padding: 15px;
			
        }
        
    